<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>JavaDayDemo</display-name>
	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>
	<servlet>
		<servlet-name>Tetris</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>ui</param-name>
			<param-value>org.vaadin.sami.javaday.TetrisUI</param-value>
		</init-param>
		<init-param>
			<param-name>widgetset</param-name>
			<param-value>org.vaadin.sami.javaday.widgetset.TetrisWidgetset</param-value>
		</init-param>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tetris</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
